<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
</head>
<body>

    <form method="POST">
        <label>Tên món:</label>
        <input name='name'/>
        <br>    
        <label>Giá món:</label>
        <input name='price'/>
        <br>    
        <label>Link ảnh:</label>
        <input name='image_url'/>
        <input type="submit"/>
    </form>

    {% for v in data %}
        {{v.name }}  - {{v.price }}
        <img height="100" width="100" src="{{v.image_url}}" />
        <br>
    {% endfor %}
    
</body>
</html>